<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Morning Hour</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/global.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/home.css' %}">
  </head>
  <body>
    <h1>Morning Hour API</h1>

    <section>
      <h3>The backend side of the Morning Hour website</h3>
      <h3>-- Mustafa Alhasanat --</h3>
    </section>

    <section>
        <button onclick="location.href='admin'">Admin site</button>
        <button onclick="location.href='tables/'">Tables</button>
    </section>
  </body>
</html>
