<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Morning Hour</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/global.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/tables/tables.css' %}"
    />
  </head>
  <body>
    <h1>tables</h1>

    <section>
      <button onclick="location.href='../categories/'">Categories</button>
    </section>
  </body>
</html>
